---
import BaseLayout from '@layouts/BaseLayout.astro'
import Link from '@components/ui/Link.astro'
---

<BaseLayout title="About">
  <h1>About</h1>
  <p>This is the about page.</p>
  <Link href="/">Home</Link>
</BaseLayout>
