---
import Link from '@components/ui/Link.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout title="Info">
  <h1>Info</h1>
  <p>This is the info page.</p>
  <Link href="/">Home</Link>
</BaseLayout>
