---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '~/utils'

interface Props extends HTMLAttributes<'button'> {
  variant?: 'primary' | 'secondary' | 'danger'
}

const { type = 'button', variant = 'primary', ...rest }: Props = Astro.props

const variantClasses = {
  primary: 'bg-blue-500 text-white',
  secondary: 'bg-gray-200 text-gray-800',
  danger: 'bg-red-500 text-white',
}
---

<button class={cn(variantClasses[variant], rest.class)} {...rest}>
  <slot />
</button>
